# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs and databases
*.log
*.sqlite3
*.db
logs/

# OS files
.DS_Store
Thumbs.db

# IDE / editor
.vscode/
.idea/
*.swp
